*{
    margin: 20PX;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

body::-webkit-scrollbar {
    width: 10px;               
}
  
body::-webkit-scrollbar-track {
    background-color: transparent;        
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(221, 255, 0);    
    border-radius: 100px;       
    /* border: 2px solid rgb(1, 255, 22);   */
}

#cv h1{
    color: #ffee00;
}

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    min-width: 400px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background-image: url(bg2.jpg);
}

.content-table thead tr{
    background-color: #ffee00;
    color: #413c3c;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #ddd;

}

.content-table tbody tr:nth-of-type(even){
    background-color: #191919;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #ffee00;
}

.content-table a{
    margin-left: 1px;
    color: #f8f07b;
}

.container-head button{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 70px;
}

.container-head button:hover{
    border: none;
    background-color: #FFFF00;
    opacity: 100%;
    color: #292928;
    transition: 0.5s;
}

.container img{
    height: 350px;
    float: right;
    border-radius: 40px;
    margin-right: 250px;
    margin-top: 22px;
    filter: grayscale(100%);
}

@media(max-width: 750px){
    .container img{
        height: 350px;
        float: right;
        border-radius: 40px;
        margin-right: -100px;
        margin-top: 22px;
        filter: grayscale(100%);
    }

    .content-table{
        border-collapse: collapse;
        margin: 25px 0;
        margin-left: -110px;
        font-size: 18px;
        min-width: 400px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        background-image: url(bg2.jpg);
    }

    #cv h1{
        color: #ffee00;
        margin-left: -100px;
    }

    #header{
        margin-left: -75px;
    }
}
